.candidate-form {
    width: 60%;
}

@media (max-width: 660px) {
    .candidate-form {
        width: 95%;
    }
}

.candidate-form-card {
    padding: 2%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.candidate-form-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.MuiFormControl-root {
    margin-top: 20px !important;
    margin-right: 10px !important;
}

.candidate-form-card-content {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}