.candidate-repos {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

@media (max-width: 660px) {
    .candidate-repos {
        width: 95%;
    }
}

.candidate-repos-content {
    height: 400px;
}

.candidate-repos-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.candidate-repos-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}